<h1 class="ui image header">
    <img src="/public/img/baconk.png" class="image">
    <span class="title">Login to Ketoboy!</span>
</h1>
<form class="ui large form">
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" ng-model="user.username" placeholder="Username"/>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" ng-model="user.password" placeholder="Password"/>
          </div>
      </div>
    </div>
    <br>
    <input type="submit" class="ui fluid large submit button" ng-click="$ctrl.submit(user)"/>
  </div>
</form>

<div class="ui error message" ng-if="$ctrl.showServerError">
  <i class="close icon" ng-click="$ctrl.hideServerError()"></i>
  <div class="header">
    Server is down x__x.
  </div>
  Please try again later.
</div>

<div class="ui error message" ng-if="$ctrl.showError">
  <i class="close icon" ng-click="$ctrl.hideError()"></i>
  <div class="header">
    Incorrect username/password.
  </div>
  Please try again.
</div>