<table class="ui celled padded table">
  <thead>
    <tr>
      <th></th>
      <th class="ui center aligned">Date</th>
      <th class="ui center aligned">Calories</th>
      <th class="ui center aligned">Note</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="data in $ctrl.tableData">
    <td class="ui center aligned">
      <i class="icon link trash"></i>
    </td>
    <td class="single line ui center aligned">{{data.timestamp}}</td>
    <td class="ui center aligned">{{data.calorie}}</td>
    <td class="ui center aligned">{{data.note}}</td>
  </tr>
  </tbody>
</table>