<div class="ui container">
  <div class="ui grid">
    <div class="ui big label">Week of:</div>
    <select class="ui dropdown" ng-model="$ctrl.chosenMonth" ng-change="$ctrl.updateSundays()" ng-options="month for month in $ctrl.months"></select>
    &nbsp;
    <select class="ui dropdown" ng-model="$ctrl.chosenSunday" ng-change="$ctrl.sundayChange()" ng-options="day for day in $ctrl.sundays"></select>
    &nbsp;
    <button ng-click="$ctrl.submit()" class="ui primary button">Update</button>
  </div>
</div>